@charset "utf-8";
$margin-auto:0 auto;
$width-1440:1440px;
$inblock:inline-block;

@mixin v-center{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.wrap{
    .f02{
        max-width:1600px;
        margin:$margin-auto;
        padding:200px 0;
        .list-box{height:1000px;overflow:hidden;}
        ul{
            width:$width-1440;
            margin:$margin-auto;padding-top:30px;
            font-size:0;
        }
        li{
            display:$inblock;
            width:433px;height:500px;
            margin-bottom:70px;
            border-radius:25px;
            background-color:pink;
            transition:transform 300ms, box-shadow 300ms;

            &:nth-of-type(3n+2){margin:0 70px -50px;}
            &:last-child{margin-bottom:0;}
            &.active{
                position:relative;
                transform:translate(-20px, -20px);
                box-shadow: 10px 10px 25px rgb(0, 0, 0, .3);
            }
        }
        
        .more{
            width:100px;
            margin:20px auto;padding:20px 0;

            button{
                width:100%;
                color:#888;
                font-size:20px;font-weight:bold;
                border:0;
                cursor:pointer;
                background-color:transparent;
            }
        }

    }
}